.contenedor{
      position: absolute;
	/* position: relative  ; */
    bottom: 50%;
    left: 40%;
	display:   inline-flex; 
    flex-direction:row;
	border:10px solid rgb(13, 241, 62);
	background-color: #73f7ec;
	/* margin: 0px ;*/
	/* width: 70%;   */
	/* width: 300px;  */
    /* height: 300px; */
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap; */
   
} 

.item{
	background-color: rgb(32, 17, 238);
	width: 100px;
	height: 100px;
	margin: 100px;
    margin-bottom: 0%;
    margin-top: 0%;
	font-size: 30px;
    align-content: CENTER;
    ALIGN-ITEMS: CENTER;
    justify-content: center;
    /* display:inline-flex; */

    /* position: absolute; */}
    
    .item:first-child{
	background-color: rgb(45, 228, 39);
	width: 100px;
	height: 100px;
	margin-left: 0px;
	font-size: 30px;
    align-content: CENTER;
    ALIGN-ITEMS: CENTER;
    justify-content: center;
    /* display:flex; */

    /* position: absolute; */
}
 .item:last-child{
	background-color: rgb(230, 15, 15);
	width: 100px;
	height: 100px;
	margin-right: 0px;
	font-size: 30px;
    align-content: CENTER;
    ALIGN-ITEMS: CENTER;
    justify-content: center;
    /* display:flex; */

    /* position: absolute; */
}
